.idea/*
!.idea/encodings.xml
!.idea/codeStyles
!.idea/inspectionProfiles

# Custom content
vendor
/src/DemoUI/src/Views/resources/js/
/src/DemoUI/src/Views/resources/images/
/src/DemoUI/src/Views/resources/css/location/
