<div class="pl-default-parcel-page pl-flex-expand">
    <div class="pl-flex-expand pl-text-center pl-justify-f-start">
        <div class="pl-bottom-separate pl-full-width">
            <h1 class="pl-text-center pl-full-width pl-m-30">
                <button id="pl-parcel-back" class="pl-icon-wrapper pl-pull-left">
                    <i class="material-icons pl-back-arrow">keyboard_backspace</i>
                </button>
                <span class="pl-header-text-wrapper"></span>
            </h1>
            <p class="pl-text-center pl-header-info">
            </p>
        </div>
        <form method="POST" name="plParcelForm" id="pl-parcel-form" class="pl-full-width">
            <div>
                <div class="pl-form-group">
                    <label for="pl-default-parcel-weight">
                        {$defaultParcel.weight} (kg)
                    </label>
                    <input type="text" id="pl-default-parcel-weight" name="weight"/>
                </div>
                <div class="pl-form-group">
                    <label for="pl-default-parcel-height">
                        {$defaultParcel.height} (cm)
                    </label>
                    <input type="text" id="pl-default-parcel-height" name="height"/>
                </div>
                <div class="pl-form-group">
                    <label for="pl-default-parcel-width">
                        {$defaultParcel.width} (cm)
                    </label>
                    <input type="text" id="pl-default-parcel-width" name="width"/>
                </div>
                <div class="pl-form-group">
                    <label for="pl-default-parcel-length">
                        {$defaultParcel.length} (cm)
                    </label>
                    <input type="text" id="pl-default-parcel-length" name="length"/>
                </div>
            </div>
            <div class="pl-page-buttons">
                <button id="pl-default-parcel-submit-btn"
                        type="submit"
                        name="defaultParcelSubmit"
                        class="pl-button pl-button-primary pl-mt-20" disabled>
                </button>
            </div>
        </form>
    </div>
</div>
