<div class="pl-login-page">
    <div class="pl-login-page-content-wrapper">
        <div class="pl-login-form-header">
            <div class="pl-login-form-title-wrapper">
                {$login.welcome}
            </div>
            <div class="pl-login-form-text-wrapper">
                {$login.connectYourService}
            </div>
        </div>
        <p class="pl-login-error-msg" id="pl-login-error-msg">
            {$login.apiKeyIncorrect}
        </p>
        <form method="POST" name="plLoginForm" id="pl-login-form">
            <div class="pl-login-form-wrapper">
                <div class="form-group pl-form-section-input pl-text-input">
                    <label for="pl-login-api-key" class="pl-text-input-label" id="pl-login-api-key-label">
                        {$login.apiKey}
                    </label>
                    <input type="text" class="form-control" id="pl-login-api-key" name="apiKey" required/>
                </div>
            </div>
            <div>
                <button type="submit" name="login" class="button button-primary button-login">
                    {$login.validateApiKey}
                </button>
            </div>
        </form>
        <div class="pl-register-button-wrapper">
            <div class="">
                {$login.dontHaveAccount}
            </div>
            <div class="">
                {$login.chooseYourCountry}
            </div>
            <div>
                <button type="submit" name="register" class="button button-primary button-register">
                    {$login.registerMe}
                </button>
            </div>
        </div>
    </div>
</div>
