<div class="pl-login-page pl-flex-expand">
    <div class="pl-flex-expand pl-text-center">
        <div class="pl-bottom-separate">
            <h1 class="pl-text-center">
                {$login.welcome}
            </h1>
            <p class="pl-text-center">
                {$login.connectYourService}
            </p>
        </div>
        <form method="POST" name="plLoginForm" id="pl-login-form" class="pl-full-width">
            <div>
                <div class="pl-form-group">
                    <label for="pl-login-api-key">
                        {$login.apiKey}
                    </label>
                    <input type="text" id="pl-login-api-key" name="apiKey" required placeholder="abcdefgh12345676789"/>
                </div>
            </div>
            <div>
                <button type="submit" name="login" class="pl-button pl-button-primary">
                    {$login.validateApiKey}
                </button>
            </div>
            <p class="pl-alert pl-alert-danger" id="pl-login-error-msg">
                {$login.apiKeyIncorrect}
            </p>
        </form>
    </div>
    <div class="pl-full-width pl-login-footer">
        <div>
            <strong>{$login.dontHaveAccount}</strong>
        </div>
        <div>
            {$login.chooseYourCountry}
        </div>
        <div>
            <button type="submit" name="register" class="pl-button pl-button-inverted">
                {$login.registerMe}
            </button>
        </div>
    </div>
</div>
