<div class="pl-onboarding-welcome-page pl-flex-expand">
    <div class="pl-flex-expand pl-text-center pl-page-padding">
        <div class="pl-bottom-separate">
            <h1 class="pl-text-center">
                {$onBoardingWelcome.header}
            </h1>
            <p class="pl-text-center">
                {$onBoardingWelcome.steps}
            </p>
        </div>
        <div class="pl-w-85">
            <ol class="pl-onboarding-welcome-steps" type="1">
                <li>
                    1. {$onBoardingWelcome.stepOne}
                </li>
                <hr>
                <li>
                    2. {$onBoardingWelcome.stepTwo}
                </li>
            </ol>
        </div>
        <div class="pl-w-85 pl-responsive-docked-btn-wrapper">
            <button id="pl-login-button" type="submit" name="login" class="pl-button pl-button-primary">
                {$onBoardingWelcome.startSetUp}
            </button>
        </div>
    </div>
</div>
