<div class="pl-onboarding-welcome-page pl-flex-expand pl-small-page pl-page-onboarding">
    <div class="pl-text-center pl-page-padding">
        <h1>
            {$onboardingWelcome.header}
        </h1>
        <p class="pl-separate-vertically">
            {$onboardingWelcome.steps}
        </p>
        <div class="pl-onboarding-list">
            <div class="pl-onboarding-welcome-steps">
                <div class="pl-list-item">
                    1. {$onboardingWelcome.stepOne}
                </div>
                <div class="pl-list-item">
                    2. {$onboardingWelcome.stepTwo}
                </div>
            </div>
        </div>
    </div>
    <div class="pl-page-buttons">
        <button id="pl-onboarding-welcome-button" type="submit" name="onboardingWelcome"
                class="pl-button pl-button-primary pl-no-wrap">
            {$onboardingWelcome.startSetUp}
        </button>
    </div>
</div>
