<div class="pl-form-group">
    <input id="pl-country-filter" placeholder="{$register.searchCountry}" type="text" class="form-control compact"
           name="countryFilter" autocomplete="no">
    <i class="material-icons">search</i>
</div>
<div class="pl-register-country-list-wrapper pl-page-content">
    <template id="country-template">
        <div data-code="$code" class="pl-country">
            <img src="logo_url" class="pl-country-logo" alt="country_name">
            <span class="pl-country-name">country_name</span>
        </div>
    </template>
</div>
