#pl-page {
  .pl-onboarding-overview-list {
    width: 100%;

    div {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    hr {
      border: 1px solid #f0f2f3;
      width: 100%;
    }

    .pl-min-width-81 {
      display: inline-block;
      min-width: 81.5%;
      margin-bottom: 10px;
    }

    .pl-onboarding-list-title {
      color: #2a77c2;
    }

    .pl-onboarding-overview-mobile-header {
      display: none;

      strong {
        color: white;
      }
    }
  }

  .pl-parcel-wrapper, .pl-wh-wrapper {
    align-items: flex-start;
    min-width: 100%;
  }

  .pl-main-logo img {
    width: 200px;
  }

  #pl-error-template {
    margin-top: 15px;
  }

  .pl-modal-mask .pl-register-country-list-wrapper {
    margin-top: 15px;
    height: 97%;
  }

  .pl-modal-mask .pl-register-country-list-wrapper a {
    text-decoration: none !important;
  }

  .pl-modal-mask .pl-country {
    display: flex;
    height: 35px;
    width: 30px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    color: #2095f2;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 20px;
    margin-bottom: 15px;
  }

  .pl-modal-mask .pl-country-logo {
    width: 60px;
  }

  .pl-modal-mask .pl-country-name {
    white-space: nowrap;
    margin-left: 15px;
  }

  .pl-register-country-list-wrapper {
    width: 100%;
  }

  .pl-register-country-list-wrapper a {
    display: block;
    width: 100%;
  }

  .pl-modal-mask .pl-register-country-list-wrapper a .pl-country {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .pl-modal-mask .pl-register-country-list-wrapper a .pl-country img {
    width: 35px;
    height: 35px;
  }

  .pl-modal-mask .pl-register-country-list-wrapper a .pl-country .pl-country-name {
    margin-top: 0;
  }

  .pl-login-footer {
    padding: 20px;
    background-color: #2E4265;
    color: #ffffff;
  }

  .pl-login-footer * {
    color: #ffffff;
  }
}

// mobile rules
@media (max-width: 768px) {
  #pl-page {
    .pl-main-logo {
      width: 100%;
    }

    .pl-onboarding-overview-mobile-header {
      display: block;
      background-color: #2195F2;
      width: 100%;
      color: white;
      padding: 15px;
    }
  }
}

// tablet rules
@media (min-width: 769px) and (max-width: 1280px) {
  #pl-page {
  }
}
