#pl-page {
  .pl-inline {
    display: inline;
  }

  .pl-full-width {
    width: 100%;
  }

  .pl-medium-page {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }

  .pl-small-page {
    max-width: 410px;
    margin-left: auto;
    margin-right: auto;
  }

  .pl-hidden {
    display: none !important;
  }

  .pl-pull-left {
    float: left;
  }

  .pl-text-center {
    text-align: center;
  }

  .pl-text-left {
    text-align: left;
  }

  .pl-separate-vertically {
    margin-top: 26px;
    margin-bottom: 26px;
  }

  .pl-bottom-separate {
    margin-bottom: 36px;
  }

  .pl-page-padding {
    padding: 20px;
  }

  .pl-flex-expand {
    flex-grow: 1;
  }

  .pl-row-orientation {
    flex-direction: row;
  }

  .pl-flex-left {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .pl-justify-f-start {
    justify-content: flex-start;
  }

  .pl-center {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .pl-flex-start {
    align-items: flex-start;
  }

  .pl-header-text-wrapper {
    line-height: 22px;
    font-size: 22px;
  }

  .pl-icon-button {
    border: none;
    background: transparent;
    padding: 0;
    width: $icon-button-size;
    height: $icon-button-size;
    min-width: $icon-button-size;
    margin: 0;

    i {
      font-size: 20px;
      width: auto;
      color: $color-blue;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;

      i {
        color: $color-white;
      }
    }
  }

  .pl-no-wrap {
    white-space: nowrap;
    width: auto;
  }

  .pl-page-buttons {
    display: block;
    text-align: center;
  }

  .pl-error-text {
    color: $color-red;
  }

  .pl-icon-text {
    color: $color-blue;
  }
}

// mobile rules
@media (max-width: 768px) {
  #pl-page {
    .pl-desktop-only {
      display: none !important;
    }

    .pl-page-content {
      height: 100%;
      overflow: auto;
      margin-bottom: 80px;
    }

    .pl-page-buttons {
      position: fixed;
      bottom: 0;
      width: 100%;
      padding: 20px;
      background-color: $color-white;
    }

    .pl-medium-page, .pl-small-page {
      width: 100%;
    }
  }
}

// tablet rules
@media (min-width: 769px) and (max-width: 1280px) {
  #pl-page {
  }
}
